* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #007bff;
}

.main-div{
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.main-div h1 {
    font-size: 25px;
    color: #007bff;
    font-weight: 600px;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}


.quiz{
    padding: 20px 0;
}



#answer-buttons{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    
}

button {
    margin-top: 20px;
    text-align:start;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-radius: 6px;
    transition: all 0.5s;
    cursor: pointer;
    /* background: white; */
}

button:hover {
    background-color: #0C6BFA;
    color: white;
}

.next-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#next {
    background-color: #007bff;
    color: aliceblue;
}
#next:hover {
    background-color: white;
    border: 1px solid ;
    color: #0C6BFA;
}

#flex {
    display: flex;
    justify-content: space-between ;
}

.correct {
    background: lightgreen;
    color: black;
}

.incorrect {
    background: lightsalmon;
    /* color: black; */
}