*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #007bff;
}

.popup-contents {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40%;
    left: 50%;
    /* width: 60%; */
    transform: translate(-50%, -50%);  
}

p {
    border-top: 2px solid #007bff;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}

#start-again {
    /* margin-top: 10px; */
    margin-left: 75% ;
    padding: 9px;
    background-color:#007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    /* display: none; */
}

#start-again:hover {
    border: 0.1px solid #007bff;
    background: white;
    color: #007bff;
}

@media (max-width:600px){
    .popup-contents {
        font-size: 20px;
        width: 90%;
        text-align: center;
    }
    
}